### Imports

In [1]:
import table1
import table2

In [2]:
import pandas as pd
import numpy as np

### Data Loading

In [3]:
df = pd.read_sas('marcps_w.sas7bdat')

In [4]:
df.head()

,LINENO,AGE,MARITAL,SEX,VET,HGA,HGC,RACE,STAT,FNLWGT,...,PACIFIC,REGION,CENTRALC,BALMSA,D_UNMEM,D_UNCOV,DISNLFLW,AGENLFLW,WKSNILF,FNLWGT2
0,1.0,36.0,1.0,1.0,6.0,16.0,2.0,1.0,1.0,176711.0,...,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,176711.0
1,2.0,35.0,1.0,2.0,6.0,16.0,1.0,1.0,1.0,187514.0,...,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,16.0,187514.0
2,1.0,37.0,1.0,1.0,1.0,14.0,1.0,1.0,1.0,176711.0,...,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,176711.0
3,2.0,35.0,1.0,2.0,6.0,13.0,1.0,1.0,1.0,187514.0,...,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,187514.0
4,1.0,36.0,1.0,1.0,6.0,13.0,2.0,1.0,1.0,176711.0,...,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN,9.0,176711.0

### Table 1

In [5]:
processed_df = table1.process_data(df)
processed_df.head()

/Users/ameicib/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,lineno,age,marital,sex,vet,hga,hgc,race,stat,fnlwgt,...,yr93,yr94,yr95,yr96,yr97,trend_d,age2,posths,south,west
0,1.0,36.0,1.0,1.0,6.0,16.0,2.0,1.0,1.0,1767.11,...,False,False,False,False,False,0.0,1296.0,True,False,False
1,2.0,35.0,1.0,2.0,6.0,16.0,1.0,1.0,1.0,1875.14,...,False,False,False,False,False,0.0,1225.0,True,False,False
2,1.0,37.0,1.0,1.0,1.0,14.0,1.0,1.0,1.0,1767.11,...,False,False,False,False,False,0.0,1369.0,True,False,False
3,2.0,35.0,1.0,2.0,6.0,13.0,1.0,1.0,1.0,1875.14,...,False,False,False,False,False,0.0,1225.0,True,False,False
4,1.0,36.0,1.0,1.0,6.0,13.0,2.0,1.0,1.0,1767.11,...,False,False,False,False,False,1.0,1296.0,False,False,False

In [6]:
summary_stats = table1.compute_summary(processed_df)
summary_stats.head()

,disabl1,sex,sample,year,age,white,posths,working,wkswork,wkwage,ssiordi
25,1.0,1.0,young,88.0,31.080615,0.817250,0.274455,0.423187,20.403366,171.098953,0.292872
26,1.0,1.0,young,90.0,31.248314,0.793954,0.268205,0.443110,22.813916,160.453239,0.271746
27,1.0,1.0,young,92.0,31.443124,0.771435,0.263445,0.378633,18.842182,149.524680,0.317768
28,1.0,1.0,young,94.0,31.508226,0.757992,0.282560,0.348762,17.778132,131.608791,0.320355
29,1.0,1.0,young,96.0,31.984941,0.745027,0.326221,0.350590,17.431140,121.892478,0.372478